{% extends "base.html" %}
{% load i18n %}

{% block name %}{% trans "Banned User " %} {{ ban.user }}{% endblock %}

{% block content %}

<label for="bannedby">Banned By</label>
<span id="bannedby">{{ ban.banned_by }}</span>

<label for="ip">IP Address</label>
<span id="ip">{{ ban.ip_address }}</span>

<label for="start">Start</label>
<span id="start">{{ ban.start_dtm }}</span>

<label for="end">End</label>
<span id="end">{{ ban.end_dtm }}</span>

<label for="reason">Reason</label>
<div id="reason">{{ ban.reason }}</span>

<label for="notes">Notes</label>
<div id="notes">{{ ban.notes }}</span>

{% endblock %}